version: '3.8'

services:
  dynamodb-local:
    command: -jar DynamoDBLocal.jar -sharedDb -dbPath ./data
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - 8000:8000
    volumes:
      - ./tmp/docker/dynamodb:/home/dynamodblocal/data
    working_dir: /home/dynamodblocal
    user: root

  fetchEvents:
    image: hayd/deno-lambda:1.21.1
    command: functions/fetchEvents/index.handler
    volumes:
      - ./src:/var/task
    ports:
      - 9000:8080

  registerEvents:
    image: hayd/deno-lambda:1.21.1
    command: functions/registerEvents/index.handler
    volumes:
      - ./src:/var/task
    environment:
      - TABLE_NAME=EventRankingHistoriesE67FD46C
    ports:
      - 9001:8080

  appendEventDetails:
    image: hayd/deno-lambda:1.21.1
    command: functions/appendEventDetails/index.handler
    volumes:
      - ./src:/var/task
    environment:
      - TABLE_NAME=EventRankingHistoriesE67FD46C
    ports:
      - 9002:8080

  registerEventRanking:
    image: hayd/deno-lambda:1.21.1
    command: functions/registerEventRanking/index.handler
    volumes:
      - ./src:/var/task
    ports:
      - 9003:8080
